@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  color: #210045;
  font-size: 1.375rem; /* 22px */
  font-weight: 600;
}

button.primary {
  @apply bg-gradient-to-r from-[#E6BA5A] to-[#ECAF2D]  w-full max-w-[343px] flex items-center justify-center gap-2 p-3 rounded-full;
}

button.small {
  border: 2px solid white;
  @apply p-2 bg-[#400CB9] rounded-lg;
}

button.small *,
svg.primary * {
  path: #ecaf2d;
  stroke: #ecaf2d;
  fill: #ecaf2d;
  color: #ecaf2d;
}
